
/* Подключаем модный шрифт */
@font-face {
    font-family: 'next-art';
    src: url('../fonts/next_art-regular.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'additional';
    src: url('../fonts/additional.ttf');
    font-weight: normal;
    font-style: normal;
}

/* Переменные цветов */

:root {
    --blue: #1B9DCF;
    --black: #000929;
    --white: white;
    --light-blue: #EFF5FE;
    --red: #ff3856;
    --green: #40AB66;
}

.color-green {
    color: var(--green);
}

.color-blue {
    color: var(--blue);
}

.background-blue {
    background-color: var(--blue);
}

.background-green {
    background-color: var(--green);
}

/* Обнуляем стили */

* {
    margin: 0px;
    padding: 0px;
    border: none;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

image {
    display: block;
}

a, a:link, a:visited  {
    text-decoration: none;
    font-family: 'additional';
    color: var(--black);
}

a:hover  {
    text-decoration: none;
}

/* Common */
aside, nav, footer, header, section, main {
    display: block;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'next-art';
}

p, input, textarea, button, select, span {
    font-family: 'additional';
    font-size: 14px;
}

ul, ul li {
    list-style: none;
}

img {
    vertical-align: top;
    object-fit: cover;
}

img, svg {
    max-width: 100%;
}

address {
    font-style: normal;
}

/* Form */

input::-ms-clear {
    display: none;
}

button, input[type="submit"] {
    display: block;
    box-shadow: none;
    cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
    outline: none;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

label {
    cursor: pointer;
}

.long-margin {
    margin-top: 200px;
}

legend {
    display: block;
}

/** Стили для основных классов **/

body {
    overflow-x: hidden;
    background-color: var(--light-blue);
}

.container {
    width: 100%;
    min-height: 100%;
}

.container-content {
    max-width: 1600px;
    padding: 0px 30px;
    margin: 0px auto;
}

@media screen and (max-width: 400px) {
    .container-content {
        padding: 0px 15px;
    }
}

.link-wrapper {
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.links-images {
    margin-top: 5px;
    display: flex;
    column-gap: 10px;
}

.links-images img {
    width: 30px;
    height: 30px;
    object-fit: cover;
}

header .container-content {
    padding-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-content {
    display: flex;
    align-items: center;
    column-gap: 30px;
}

.header-content a {
    font-size: 16px;
    font-weight: bold;
    font-family: 'next-art';
}

.header-content a.button-href {
    font-weight: normal;
    padding: 10px 30px;
    border-radius: 15px;
    color: var(--white);
}

@media screen and (max-width: 700px) {
    header .container-content {
        flex-direction: column;
        align-items: flex-start;
    }
}

section {
    margin-top: 50px;
}

.footer-image {
    transform: rotate(10deg);
    z-index: -99;
    top: -320px;
    right: -10px;
    position: absolute;
}

.footer-content {
    overflow-y: hidden;
    overflow-x: hidden;
    padding-top: 350px;
    position: relative;
    padding-bottom: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-content a {
    font-weight: bold;
    font-size: 16px;
    font-family: 'next-art';
}

.footer-content .links-container-footer {
    display: flex;
    column-gap: 40px;
}

footer .link-wrapper {
    margin-right: 220px;
}

.footer-content span {
    font-weight: bold;
    font-size: 16px;
    font-family: 'next-art';
}
